body {
   margin-top: 20px;
}

.Caja{
   background-color: rgba(41, 189, 41, 0.541);
   width: auto;
   border: 2px solid green;
   border-radius: 8px;
   padding: 5px;
   margin-top: 10px;
   margin-bottom: 10px;
}

.footer{
   text-align: center;
}

.titulo{
   font-family: 'Times New Roman', Times, serif;
   font-size: 30px;
   text-align: center;
   font-weight: bold;
   text-transform: uppercase;
}

#formulario2{
   width: 90%;
   border: 1px solid #ccc;
   margin: 20px;
   padding: 20px;
}

#formulario{
   width: 90%;
   border: 1px solid #ccc;
   margin: 20px;
   padding: 20px;
}

label{
   font-family: 'Times New Roman', Times, serif;
   font-size: 14px;
   display: block;
   width: 100%;
}

input{
   margin-bottom: 20px;
   width: 100%;
   padding: 10px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   border: 1px solid #ccc;
}


input:focus{
   border: 1px solid #1668C4;
}


